@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato';
}
/* NAVBAR */
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral;
}
.navbar-brand > .bluish-color{
    color: rgb(0, 189, 189);
}
.nav-link{
    font-size: 16px;
    color: black;
    margin: 15px;
    font-family: 'Roboto Condensed';
}
.menu-right-btn{
    padding: 13px 46px;
    margin: 4%;
    background-color: transparent;
    transform: all 300ms ease-in;
}
.menu-right-btn:hover{
    background-color: rgb(0, 112, 112);
    color: white;   
}

/* SITE CONTENT */

.site-content{
    background-image: url(images/image2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.site-title, .site-desc{
    color: white;
    font-family: "Righteous";
}
.site-title{
    margin: 30% 0% 6% 0%;
    font-size: 50px;
    text-align: center;
}
.site-desc{
    font-size: 16px;
    padding-left: 2%;
    text-align: center;
}
.site-btn{
    margin: 6% 0% 30% 0%;
}